* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
}

body {
  background: linear-gradient(to right, #f69272, #ffc19e);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-container {
  height: 90vh;
  width: 95vw;
  border-radius: 20px;
  padding: 25px 25px 0 25px;
  margin: 0;
  box-shadow: 1px 1px 10px 1px #cc9a938f,
    inset 0 0 1px 3px rgba(253, 243, 243, 0.281),
    inset 0px 0px 30px 1px rgba(250, 250, 250, 0.5);
  background: linear-gradient(to right, #ffffff44, #ffc3cd79);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  overflow-y: auto;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.status-bar {
  width: 25vw;
  height: 7vh;
  background-color: rgba(255, 255, 255, 0.498);
  border-radius: 50px;
  box-shadow: 3px 3px 1px 1px #f39dab98;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: black;
  padding: 10px;
}
img {
  width: 50px;
  height: 50px;
  padding: 2px;
  border-radius: 10px;
  margin: 3px;
}

#card {
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  grid-template-rows: 4fr 1fr;
  background-color: white;
  width: 15vw;
  height: 30vh;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 1px 1px #f39dab98;
}
.card {
  margin: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  background-color: white;
  width: 25vw;
  height: 30vh;
  box-shadow: 3px 3px 1px 1px #f39dab98;
}

#add-btn:hover {
  background-color: rgb(239, 238, 238);
  transition: background-color 0.5s ease-in-out;
}
.edit-tool-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #a7a7a773;
}

.delete-img {
  height: auto;
  width: 2.3rem;
}
.delete-btn {
  padding: 6px;
}
#edit-img {
  height: auto;
  width: 3rem;
}
.delete-btn:hover {
  background-color: rgba(168, 167, 167, 0.208);
  cursor: pointer;
}
.edit-btn:hover {
  background-color: rgba(168, 167, 167, 0.208);
  cursor: pointer;
}
.edit-btn,
.delete-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 60%;
}
#card-read-status {
  border: none;
  background-color: transparent;
}
#card-read-status-img {
  width: 3rem;
  height: auto;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 15px;
  overflow-y: auto;
}
.card-book-title {
  font-size: 1.7rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.card-author {
  font-size: 1rem;
}
.card-pages {
  font-size: 0.8rem;
}
#add-btn {
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
#add-img {
  width: 120px;
  height: 120px;
  padding: 3px;
  margin: 3px;
  border-radius: 50%;
}
#add-img:hover {
  cursor: pointer;
}
.book-info {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  border: 2px solid #f39dab98;
  box-shadow: 3px 3px 1px 1px #f39dab98;
  width: 30vw;
  height: 50vh;
  padding: 20px 0 20px 0;
  gap: 40px;
  align-self: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: -20px;
}
#form-close-btn {
  border: none;
  background-color: transparent;
}
#form-close {
  width: 40px;
  height: 40px;
  margin-right: -8px;
  border-radius: 50%;
  cursor: pointer;
}
input {
  padding: 10px;
  border-radius: 20px;
  height: 5vh;
  width: 27vw;
  font-size: 1.2rem;
  border: none;
  box-shadow: 0px 0px 5px 1px rgb(236, 231, 231);
}
#read-status {
  width: 3vw;
  height: 3vh;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  box-shadow: 0px 0px 0px 0px rgb(236, 231, 231);
}
#add-book-btn {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  width: 27vw;
  font-size: 1.2rem;
  border: none;
  box-shadow: 0px 0px 5px 1px rgb(236, 231, 231);
  cursor: pointer;
  background: linear-gradient(to right, #ffc19e, #ffc3cd);
}
#add-book-btn:hover {
  background: linear-gradient(to right, #f69272, #fcba94);
  transition: all 0.5s ease-in-out;
}
.status-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.blurred {
  filter: blur(5px);
}
.content::-webkit-scrollbar-track {
  background-color: transparent;
  background-color: #f5f5f500;
  padding: 50px;
}

.content::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #f5f5f500;
}

.content::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  background-color: #ffffffc5;
}
.card-info::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(170, 170, 170, 0);
}
.card-info::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  background-color: #bdbdbd9f;
}

@media (max-width: 475px) {
  .card-container {
    height: 95vh;
    width: 95vw;
    border-radius: 20px;
    padding: 15px 15px 0 15px;
  }
  .content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0px;
  }
  .footer {
    height: 10vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .status-bar {
    width: 100%;
    margin-right: 10px;
  }
  #card {
    width: 70vw;
    height: 10vh;
  }
  #add-img {
    width: 80px;
    height: 80px;
    padding-top: 5px;
  }
  .book-info {
    width: 70vw;
    height: 40vh;
  }
  .edit-tool-container {
    height: 5vh;
  }

  .card {
    width: 70vw;
    height: 20vh;
  }
}
@media (min-width: 640px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
