* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #f69272, #ffc19e);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-container {
  height: 90vh;
  width: 95vw;
  border-radius: 20px;
  padding: 10px;
  margin: 0;
  box-shadow: 1px 1px 10px 1px #cc9a938f,
    inset 0 0 1px 3px rgba(253, 243, 243, 0.281),
    inset 0px 0px 30px 1px rgba(250, 250, 250, 0.5);
  background: linear-gradient(to right, #ffffff44, #ffc3cd79);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.status-bar {
  width: 25vw;
  height: 8vh;
  background-color: white;
  align-self: center;
  border-radius: 50px;
  box-shadow: 3px 3px 1px 1px #f39dab98;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: black;
  padding: 10px;
}
img {
  width: 50px;
  height: 50px;
  padding: 2px;
  border-radius: 10px;
  margin: 3px;
}
img:hover {
  background-color: rgba(156, 156, 156, 0.119);
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.card {
  margin: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  max-width: 15vw;
  height: 30vh;
  box-shadow: 3px 3px 1px 1px #f39dab98;
}

#add-btn {
  border: none;
  background-color: transparent;
}
#add-img {
  width: 120px;
  height: 120px;
  padding: 3px;
  margin: 3px;
  border-radius: 50%;
}
#add-img:hover {
  background-color: rgba(156, 156, 156, 0.119);
  transition: background-color 0.5s ease-in-out;
  border-radius: 50%;
  cursor: pointer;
}
